<!-- views/login.ejs -->
<!doctype html>
<html>

<head>
    <title>Admin dashboard</title>
    <%- include layout/head %>
</head>

<body>
    <div class="container">
        <% include layout/nav %>
            
    </div>
</body>

</html>